 <nav class = "navbar navbar-expand-md navbar-dark bg-dark">

    <button class = "navbar-toggler navbar-toggler-right" type = "button" data-toggle = "collapse" data-target = "#navbar-options">
        <span class = "navbar-toggler-icon"></span>
    </button>

    <a class = "navbar-brand" href = "profile">My Profile</a>
    <ul class = "navbar-nav mr-auto">

        <li class = "nav-item">
            <a class = "nav-link" href = "main_page">Main Page</a>
        </li>

        <li class = "nav-item">
           <a class = "nav-link" href = "dungeon">Dungeon</a>
        </li>

        <li class = "nav-item">
            <a class = "nav-link" href = "pvp">PvP</a>
        </li>

        <li class = "nav-item">
            <a class = "nav-link" href = "Hall_of_Fame">Hall of Fame</a>
        </li>
                

    </ul>

    <ul class = "navbar-nav navbar-right">
        <li class =  "nav-item">
            <button type = "button" class = "btn btn-danger btn-sm">
                <a class = "nav-link" href = "logout">Log out</a>
            </button>
        </li>
    </ul>


</nav>

